/*
Header.js
Zeel Rameshbhai Vekariya
301489564
29 january 2025
*/
.corp_comment {
    background-color: rgb(38 45 58);
}

.work_developer_project {
    color: (222deg 21.28% 18.43%)
}

.corp_comment {
    border-radius: 20px;
    padding: 20px;
}

.cop_title {
    font-weight: 500;
    color: #fff;
    font-size: 25px;
}

.work_developer_project {
    color: (222deg 21.28% 18.43%)
}

p.work_developer_project {
    font-size: 22px;
    font-weight: 400;
    color: gray;
}

ul.project_develop_main_dec {
    padding: 0;
}

p.work_developer_project {
    font-size: 22px;
    font-weight: 400;
}

ul.project_develop_main_dec {
    display: flex;
    align-items: center;
}

li.project_develop_inner {
    background: #000;
    color: #ffffff99;
    font-weight: 500;
    font-size: 15px;
}

li.project_develop_inner {
    padding: 15px;
    margin-right: 15px;
    border-radius: 15px;
}

.right_skill_image {
    display: flex;
    align-items: center;
}

.inner_flex_div_project {
    display: flex;
    justify-content: space-between;
}

.corp_comment {
    margin-top: 30px;
}

.corp_comme {
    display: flex;
}

img.inner_skill_image {
    object-fit: cover;
    width: 25rem;
    height: -webkit-fill-available;
    border-radius: 10px;
}

p.work_developer_project {
    width: 80%;
}

.corp_comment {
    position: relative;
}



ul.project_develop_main_dec {
    margin-top: 50px;
}