/*
Header.js
Zeel Rameshbhai Vekariya
301489564
29 january 2025
*/
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(100 94 137)
}

/* style="background-color:  rgb(17 24 39)" */
.container {
    width: 991px;
    margin: auto;
}